<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-AU">

<head>
	<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>CUE template : Queensland Government</title>
	<link rel="stylesheet" type="text/css" href="cue/css/qg.css" media="all">
	<link href="cue/css/layout-small.css" media="all" rel="stylesheet" type="text/css">
	<link href="cue/css/layout-medium.css" media="only all and (min-width: 43em) and (max-width: 65em)" rel="stylesheet" type="text/css">
	<link href="cue/css/layout-large.css" media="only all and (min-width: 65em)" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="cue/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="theme/agency.css" media="all"> </head>

<body class="application" id="qld-gov-au">
	<div id="access">
		<h2>Skip links and keyboard navigation</h2>
		<ul>
			<li> <a href="#content">Skip to content</a> </li>
			<li> <a href="#footer">Skip to footer</a> </li>
			<li> <a href="http://www.qld.gov.au/help/accessibility/keyboard.html#section-aria-keyboard-navigation">Use tab and cursor keys to move around the page (more information)</a> </li>
		</ul>
	</div>
	<div id="header">
		<div class="box-sizing">
			<div class="max-width">
				<a id="qg-coa" href="http://www.qld.gov.au/"> <img src="theme/qg-coa.png" width="287" height="50" alt="Queensland Government"> <img src="cue/images/qg-coa-print.png" class="print-version" alt=""> </a>
				<ul id="tools">
					<li> <a accesskey="3" href="http://www.qld.gov.au/#sitemap">Site map</a> </li>
					<li> <a accesskey="4" href="http://www.qld.gov.au/contact/">Contact us</a> </li>
					<li> <a href="http://www.qld.gov.au/help/">Help</a> </li>
					<li class="last-child">
						<form action="http://pan.search.qld.gov.au/search/search.cgi" id="search-form">
							<div class="search-wrapper">
								<label for="search-query">Search Queensland Government</label>
								<input accesskey="5" type="text" name="query" id="search-query" size="27" value="">
								<input type="submit" class="submit" value="Search">
								<input type="hidden" name="num_ranks" value="10">
								<input type="hidden" name="tiers" value="off">
								<input type="hidden" name="collection" value="qld-gov">
								<input type="hidden" name="profile" value="qld"> </div>
						</form>
					</li>
				</ul>
				<h2 id="site-name" style='text-align: center;'>
														<center>bookworm</center>
													</h2> </div>
		</div>
	</div>
	<div id="page-container">
		<div class="max-width">
			<div id="content-container">
				<div id="content">
					<div class="article">
						<div class="box-sizing">
							<h1>About</h1>
							<div class="section" id="section-layout">
								<h2>Dashboard</h2>
								<p>The Dashboard is the place where participants can enter the books they've read. There are specific fields they need ot be filled for the entry to count </p>
								<div>
									<h2>Click <a href="#">Here</a> to Enter a Book for the Premiers Reading Challange </h2> </div>
							</div>
							<div class="section" id="section-navigation">
								<h2>Find library</h2>
								<p>Finding a library has never been easier. Simply enter your corresponding Post code and you will be shown the approprite infomation required per user. The infomation presented is suitable for everyone as it shows revelant infomation such as
									<li>Opening times| 7 days of the week</li>
									<li>Library name</li>
									<li>Wi-Fi facility </li> And many more </p>
								<div>
									<h2>Click <a href="#"> Here</a> to Search for a library </h2> </div>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
				<script type="text/javascript" src="cue/js/qg.js"></script>
</body>

</html>